.jumbotron {
  background: url("/images/cast-photo1200.jpg") center/cover no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 575px;
  overflow: hidden;
  position: relative;
}

.jumbotron .ghosted {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  bottom: 5rem;
  clear: left;
  float: left;
  padding: .5rem 1rem;
  position: absolute;
}